 @import url('https://fonts.googleapis.com/css?family=Karla');
html {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #fffbf7;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;

  .content {
    padding: 27px 40px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    .font-blocks {
      max-width: 1400px;
      margin: auto;
    }
  }

  .footer {
    padding: 27px 40px;
    border-top: 1px solid;

    // .footer-content {
    //   max-width: 1400px;
    //   margin: auto;
    // }

    .contact-details {
      /* border-right: 1px solid;*/
      float: left;
      padding-right: 25px;

      a {
        display: block;
      }

      .address,
      .tel {
        color: #5d5d5d;
        font-weight: 200;
      }
    }

    .social-profiles {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 16px;
      display: none;

      .fa {
        font-size: 2.2rem;
        margin: 0 22px;
        color: #5d5d5d;
      }
    }
  }
}

.header-container {
  border-bottom: 1px solid;
}

.header {
  max-width: 1400px;
  margin: auto;
  padding-bottom: 27px;

  .description-expand {
    margin-left: 16px;
    margin-top: 4px;

    button {
      border: none;
      background-color: transparent;
      outline: none;
    }

    img {
      cursor: pointer;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid;
    @media (max-width: 64em) {
      border-right: none;
    }

    .title {
      font-family: 'Moonface';
      font-size: 2.5rem;
      margin: 0;
      font-weight: 300;
      @media (max-width: 64em) {
        font-size: 1.5rem;
        border-right: 1px solid;
        padding-right: 15px;
      }
    }
  }

  .site-description-container {
    font-size: 14px;
    font-weight: 200;
    overflow: hidden;
    @media (max-width: 64em) {
      margin-top: 15px;
      margin-bottom: -20px;
    }

    .site-description {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  .share-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 21px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    .share {
      width: 100%;
      text-align: right;

      .share-btn {
        display: inline-block;
      }

      .addthis_inline_share_toolbox {
        position: absolute;
        margin-left: -8px;
        background-color: #ffffff;
        border: 1px solid;
        padding-top: 5px;
        padding-left: 3px;
        padding-right: 3px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }

      &:hover .addthis_inline_share_toolbox {
        opacity: 1;
      }
    }
  }
}

.flex-items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hover1 {
  -webkit-transition: background-size 0.4s ease;
  transition: background-size 0.4s ease;
  background: -webkit-linear-gradient(top, transparent 62%, #cccccc 0) center center/0% 75% no-repeat;
  background: linear-gradient(to bottom, transparent 62%, #cccccc 0) center center/0% 75% no-repeat;
  cursor: pointer;
  color: rgba(80, 89, 113, 0.7);

  &:hover {
    background-size: 100% 100%;
  }

  &:active {
    background-size: 80% 100%;
  }
}

.hover2 {
  margin-left: -15px;
  margin-right: -15px;

  &:after,
  &:before {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
    transition: opacity 0.2s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  }

  &:before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  &:after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  &:focus:after,
  &:focus:before,
  &:hover:after,
  &:hover:before {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

a {
  text-decoration: none;
  color: inherit;
}
