@font-face {
  font-family: 'Moonface';
  src: url("../fonts/moonface/Moonface-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'PostNoBillsColombo';
  src: url("../fonts/postnobills_colombo/PostNoBillsColombo-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'PostNoBillsColombo';
  src: url("../fonts/postnobills_colombo/PostNoBillsColombo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'PostNoBillsColombo';
  src: url("../fonts/postnobills_colombo/PostNoBillsColombo-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'PostNoBillsColombo';
  src: url("../fonts/postnobills_colombo/PostNoBillsColombo-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'PostNoBillsColombo';
  src: url("../fonts/postnobills_colombo/PostNoBillsColombo-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'PostNoBillsColombo';
  src: url("../fonts/postnobills_colombo/PostNoBillsColombo-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'GemunuLibre';
  src: url("../fonts/gemunu_libre/GemunuLibre-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'GemunuLibre';
  src: url("../fonts/gemunu_libre/GemunuLibre-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'GemunuLibre';
  src: url("../fonts/gemunu_libre/GemunuLibre-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'GemunuLibre';
  src: url("../fonts/gemunu_libre/GemunuLibre-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'GemunuLibre';
  src: url("../fonts/gemunu_libre/GemunuLibre-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'GemunuLibre';
  src: url("../fonts/gemunu_libre/GemunuLibre-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'GemunuLibre';
  src: url("../fonts/gemunu_libre/GemunuLibre-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'ManameInformal';
  src: url("../fonts/maname_informal/ManameInformal-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Kaputa';
  src: url("../fonts/kaputa/Kaputa-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Galle';
  src: url("../fonts/galle/Galle-Rgular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Vineetha';
  src: url("../fonts/vineetha/Vineetha-RegularInformal.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Presedential';
  src: url("../fonts/presedential/Presedential-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
